
.ipynb_checkpoints/03_std_Notes_Pandas_Introduction-checkpoint.ipynb

.ipynb_checkpoints/Tutorial_Pandas_sesion1-checkpoint.ipynb

Data/.ipynb_checkpoints/population_by_country_2020-checkpoint.csv

imgs/.ipynb_checkpoints/terminal-checkpoint.png

imgs/.ipynb_checkpoints/Ejercicio-checkpoint.png

imgs/.ipynb_checkpoints/Pregunta-checkpoint.png
